@model IEnumerable<AssetTracking.Presentation.Models.AssetTypeModel>

@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Asset Types</h1>
<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<br />
<div class="table-responsive">
    <table class="table table-striped table-hover bg-light custom-border">
        <thead class="tab-head text-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>